 .boardcontainer 
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.boardcontainer > table 
{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
}

.boardcontainer > table td 
{
    border: none;
}

.toolcontainer
{
    background-color: #EEE;
    width: 50px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 0 10px #888;
}

#toolContainer
{
    height: 100%;
}

#toolContainer > div
{
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
#toolContainer > div:hover
{
    box-shadow: 0 0 10px #DDD;
    background-color: #F5F5F5;
}
.canvascontainer
{
    overflow:auto;
}

.canvas 
{
    position: relative;
    display: block;
    
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;    
    background-color: White;
    box-shadow: 0 0 10px #888;
}

.layercontainer
{
    width: 150px;
    background-color: #EEE;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 0 10px #888;
}

.layercontainer > table
{
    height: 100%;
}

.userContainer
{
    width : 100px;
    height : 60px;
    background-color:#FFF;
}

.layers
{
    height: 200px;
}

.layers > ul 
{
    height: 150px;
    overflow: auto;
    margin: 0px;
}

.widgets
{
    height: 100%;
}

.layerbuttons
{
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 0xp;
    height: 22px;
}

.layerbuttons td
{
    border: none;
    padding: 0px;
    background-repeat:no-repeat;
}

#add_layer_button
{
    width: 24px;
    background-image: url("/Images/add_layer.png");
}

#remove_layer_button
{
    width: 23px;
    background-image: url("/Images/remove_layer.png");
}

#clone_layer_button
{
    width: 24px;
    background-image: url("/Images/clone_layer.png");
}

#merge_layer_button
{
    width: 25px;
    background-image: url("/Images/merge_layer.png");
}

#up_layer_button
{
    width: 22px;
    background-image: url("/Images/up_layer.png");
}

#down_layer_button
{
    width: 26px;
    background-image: url("/Images/down_layer.png");
}           

#add_layer_button:hover
{
    width: 24px;
    background-image: url("/Images/add_layer_hover.png");
}

#remove_layer_button:hover
{
    width: 23px;
    background-image: url("/Images/remove_layer_hover.png");
}

#clone_layer_button:hover
{
    width: 24px;
    background-image: url("/Images/clone_layer_hover.png");
}

#merge_layer_button:hover
{
    width: 25px;
    background-image: url("/Images/merge_layer_hover.png");
}

#up_layer_button:hover
{
    width: 22px;
    background-image: url("/Images/up_layer_hover.png");
}

#down_layer_button:hover
{
    width: 26px;
    background-image: url("/Images/down_layer_hover.png");
}      

.optionContainer 
{
    opacity: 0;
    position: absolute;
    height: 50px;
    min-width: 20px;
    background-color: #EEE;
    border-radius: 0px 10px 10px 0px;
    z-index: 2;
}

.optionContainer > .colorBox
{
    float : left;
    margin : 5px;
    width : 40px;
    height : 40px;
    border-radius: 5px;
    border: 1px solid #222;
}

.optionContainer > .combo
{
    margin-top: 5px;
    margin-bottom: auto;
    font-size: 22px;
    background-color: #EEF;
    border-radius: 5px;
    border: 1px solid #222;
    padding: 5px;
}