 table
 {
     border: none;
 }
 
 .boardcontainer 
{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.boardcontainer > table 
{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    border: none;
}

.boardcontainer > table td 
{
    border: none;
}

.toolcontainer
{
    background-color: #EEE;
    width: 50px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 0 10px #888;
    z-index: 2;
    position:relative;
    
}

#toolContainer
{
    height: 100%;
}

#toolContainer > div
{
    border-radius: 5px;
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
#toolContainer > div:hover
{
    box-shadow: 0 0 10px #DDD;
    background-color: #F5F5F5;
}
.canvascontainer
{
    overflow:auto;
}

.canvas 
{
    position: relative;
    display: block;
    
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;    
    background-color: White;
    box-shadow: 0 0 10px #888;
}

.layercontainer
{
    width: 150px;
    background-color: #EEE;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0 0 10px #888;
    padding: 0;
}

.layercontainer > table
{
    height: 100%;
}

#layerContainer
{
    padding: 0;
}

.userContainer
{
    position: absolute;
    width : 200px;
    height : 500px;
    margin-top: 50px;
    margin-left: 55px;
    left: -205px;
    background-color: #EEE;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 0 10px #888;
    padding: 5px;
    z-index: 1;
}

#userContainer
{
    padding: 5px;
}

.user
{
    text-decoration: none;
}

.layers
{
    height: 200px;
}

.layers > ul 
{
    height: 150px;
    overflow: auto;
    margin: 0px;
}

.widgets,
#widgetContainer
{
    height: 100%;
    margin: 0px;
}

.widgets
{
    padding-bottom: 5px;
}

#widgetContainer 
{
    padding: 5px;
    overflow: auto;    
}

.layer
{
    background-color: #DDD;
    margin: 2px;
    border-radius: 5px;
    text-decoration: none;
}

.layer_selected
{
    background-color: #ACF;
    margin: 2px;
    border-radius: 5px;
    text-decoration: none;    
}

.layer,
.layer_selected
{
    list-style: none;
}

.layerbuttons
{
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 0xp;
    height: 22px;
}

.layerbuttons td
{
    border: none;
    padding: 0px;
    background-repeat:no-repeat;
}

.widgetbuttons
{
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 0xp;
    height: 22px;
}

.widgetbuttons td
{
    border: none;
    padding: 0px;
    background-repeat:no-repeat;
}

#add_layer_button
{
    width: 24px;
    background-image: url("/Images/add_layer.png");
}

#remove_layer_button
{
    width: 23px;
    background-image: url("/Images/remove_layer.png");
}

#clone_layer_button
{
    width: 24px;
    background-image: url("/Images/clone_layer.png");
}

#merge_layer_button
{
    width: 25px;
    background-image: url("/Images/merge_layer.png");
}

#up_layer_button
{
    width: 22px;
    background-image: url("/Images/up_layer.png");
}

#down_layer_button
{
    width: 26px;
    background-image: url("/Images/down_layer.png");
}           

#add_layer_button:hover
{
    width: 24px;
    background-image: url("/Images/add_layer_hover.png");
}

#remove_layer_button:hover
{
    width: 23px;
    background-image: url("/Images/remove_layer_hover.png");
}

#clone_layer_button:hover
{
    width: 24px;
    background-image: url("/Images/clone_layer_hover.png");
}

#merge_layer_button:hover
{
    width: 25px;
    background-image: url("/Images/merge_layer_hover.png");
}

#up_layer_button:hover
{
    width: 22px;
    background-image: url("/Images/up_layer_hover.png");
}

#down_layer_button:hover
{
    width: 26px;
    background-image: url("/Images/down_layer_hover.png");
}      

#remove_widget_button
{
    width: 24px;
    background-image: url("/Images/remove_widget.png");
}

#difference_widget_button
{
    width: 23px;
    background-image: url("/Images/difference_widget.png");
}

#intersect_widget_button
{
    width: 24px;
    background-image: url("/Images/intersect_widget.png");
}

#union_widget_button
{
    width: 25px;
    background-image: url("/Images/union_widget.png");
}

#up_widget_button
{
    width: 22px;
    background-image: url("/Images/up_widget.png");
}

#down_widget_button
{
    width: 26px;
    background-image: url("/Images/down_widget.png");
}           

#remove_widget_button:hover
{
    width: 24px;
    background-image: url("/Images/remove_widget_hover.png");
}

#difference_widget_button:hover
{
    width: 23px;
    background-image: url("/Images/difference_widget_hover.png");
}

#intersect_widget_button:hover
{
    width: 24px;
    background-image: url("/Images/intersect_widget_hover.png");
}

#union_widget_button:hover
{
    width: 25px;
    background-image: url("/Images/union_widget_hover.png");
}

#up_widget_button:hover
{
    width: 22px;
    background-image: url("/Images/up_widget_hover.png");
}

#down_widget_button:hover
{
    width: 26px;
    background-image: url("/Images/down_widget_hover.png");
}      

.optionContainer 
{
    white-space: nowrap;
    position: absolute;
    opacity: 0;
    height: 50px;
    min-width: 20px;
    background-color: #EEE;
    border-radius: 0px 10px 10px 0px;
    z-index: 5;
}

.optionContainer > .colorBox
{
    float : left;
    margin : 5px;
    width : 40px;
    height : 40px;
    border-radius: 5px;
    border: 1px solid #222;
}

.optionContainer > .combo
{
    float : left;
    margin : 5px;
    width: 150px;
    font-size: 22px;
    background-color: #EEF;
    border-radius: 5px;
    border: 1px solid #222;
    padding: 5px;
}

.optionContainer > .input
{
    float : left;
    margin : 5px;
    font-size: 22px;
    background-color: #EEF;
    border-radius: 5px;
    border: 1px solid #222;
    padding: 5px;
}

.button
{
    color: #EEE;
    text-decoration: none;
    font: normal 14px arial, sans-serif;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: linear-gradient(top, #5e5e5e 1%,#444444 100%);
    background: -moz-linear-gradient(top, #5e5e5e 1%, #444444 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5e5e5e), color-stop(100%,#444444)); /* Chrome,Safari4+ */
    
}

.button:hover
{
    color: #EEE;
    text-decoration: none;
    font: normal 14px arial, sans-serif;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: linear-gradient(top, #a0a0a0 0%,#c9c9c9 100%); /* W3C */
    background: -moz-linear-gradient(top, #a0a0a0 0%, #c9c9c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a0a0a0), color-stop(100%,#c9c9c9)); /* Chrome,Safari4+ */
    
}

.handle
{
    position: absolute;
    background-image: url("/Images/handle.png");
    width: 13px;
    height: 25px;
    right: -13px;
    top: 250px;
}

.handle:hover
{
    position: absolute;
    background-image: url("/Images/handle_hover.png");
    width: 13px;
    height: 25px;
    right: -13px;
    top: 250px;
}